<!DOCTYPE html>
{% load static %}
{% load admin_urls %}
<html lang="en">
<head>
    <script src="{% static 'js/font-awesome.js' %}" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Просмотр фильмов">
    <meta name="keywords" content="кино, фильм, кинопоиск">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'icon/icon.png' %}" sizes="57x57"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="page-wrapper">
    <!--Шапка-->
    <nav class="site-header sticky-top py-1" style="background-color: #000000">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <a class="col-4 navbar-brand justify-content-start px-3 pt-2" href="/">
                <img src="{% static 'icon/orig.png' %}" alt="">
            </a>
            <div class="col-4 pt-3 row">
                <input type="search" class="col-11 form-control movie-search" placeholder="Фильмы, сериалы, персоны">
                <a class="col-1 pt-1" href="#" style="font-size: 35px">
                    <i class="fa fa-search" aria-hidden="true" style="vertical-align: top; margin-top: -3px"></i>
                </a>
            </div>
            <div class="col-4 text-right row">
                {% if request.user.is_superuser %}
                    <a class="px-4 nav-link" href="{% url 'admin:index' %}">
                        <h1 class="" style="font-size: 42px"><i class="fa fa-database" aria-hidden="true"></i>
                        </h1>
                    </a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a class="px-4 nav-link" href="{% url "users.profile" %}">
                        <h1 class="" style="font-size: 42px"><i class="fa fa-user-circle" aria-hidden="true"></i></h1>
                    </a>
                    <a class="px-4 nav-link" href="{% url 'users.logout' %}">
                        <h1 class="" style="font-size: 42px"><i class="fa fa-sign-out-alt" aria-hidden="true"></i></h1>
                    </a>
                {% else %}
                    <a class="px-4 nav-link" href="{% url "users.login" %}">
                        <h1 class="" style="font-size: 42px"><i class="fa fa-sign-in" aria-hidden="true"></i></h1>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</div>
<script>
    const urlForSearch = '{% url "movies.search" %}';
    const csrfToken = '{% csrf_token %}';
    {% block constants %}{% endblock %}
</script>

<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>