{% extends "base.html" %}
{% load static %}

{% block title %}КиноПоиск. Все фильмы планеты.{% endblock %}

{% block content %}
    <div class="container bg-white mb-5">
        <!--Карусель-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for _ in preview %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for movie in preview %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="first-slide" src="{{ movie.first_poster_url }}" alt="{{ movie.title }} poster">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>{{ movie.title }}</h1>
                                <p><a class="btn btn-lg btn-dark" href="{% url "movies.movie_page" movie.id %}" role="button">Смотреть</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row">
            <div class="col-2" style="box-shadow: 0.25px 0 0.25px;">
                <div class="fixed_left_panel">
                    <p class="text_left_panel pl-3">МЕДИА</p>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Все материалы</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Новости</a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button_left_panel"
                       style="text-decoration: none">Статьи</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Видео</a>
                    <p class="text_left_panel pl-3">АФИША</p>
                    <a href="#" class="button_left_panel" style="text-decoration: none">График премьер</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Афиша кинотеатров</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Кинотеатры</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Акции и скидки</a>
                    <p class="text_left_panel pl-3">СЕРИАЛЫ</p>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Топ 250 сериалов</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Популярные сериалы</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Списки сериалов</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Сериалы в Медиа</a>
                    <p class="text_left_panel pl-3">ФИЛЬМЫ</p>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Списки фильмов</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Топ 250</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Цифровые релизы</a>
                    <a href="#" class="button_left_panel" style="text-decoration: none">Рекомендации</a>
                </div>
            </div>
            <div class="col-9">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">О МАЙ ГАРАБЛ <span
                                class="text-muted">это даже больше чем крейзи</span></h2>
                        <p class="lead">DISNEY и MARVEL в общей сложности онансировали более 50 сериалов</p>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'icon/loki.jpg' %}">
                    </div>
                </div>
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-5 order-md-2">
                        <h2 class="featurette-heading">ПАЦАНЫ ИДУТ НА ЗАБИВ <span class="text-muted">съёмки скоро продолжаться</span>
                        </h2>
                        <p class="lead">Энтони Стар заявил, что новый сезон почти досняли и съёмки"пацанов" скоро
                            продолжаться</p>
                    </div>
                    <div class="col-md-7 order-md-1">
                        <img src="{% static 'icon/boys.jpg' %}">
                    </div>
                </div>
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Капитан джек воробей <span class="text-muted">больше не будет экранизирован Джони депом</span>
                        </h2>
                        <p class="lead">Как всегда произошла какая-то невиданная ситуация, в которой Джони сделал
                            плохое
                            зло. В итоге на него все обиделись(.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'icon/Jec.jpg' %}">
                    </div>
                </div>
                <hr class="featurette-divider">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
{% endblock %}