<!DOCTYPE html>
<html lang="en">
<head>
    <title>КиноПоиск. Все фильмы планеты.</title>
    <meta charset="UTF-8">
    <meta name="description" content="Просмотр фильмов">
    <meta name="keywords" content="кино, фильм, кинопоиск">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/icon/icon.png" sizes="57x57"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div class="page-wrapper">
    <!--Шапка-->
    <nav class="site-header sticky-top py-1" style="background-color: #000000">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <a class="col-4 navbar-brand justify-content-start px-3 pt-2" href="/">
                <img src="../static/icon/orig.png" alt="">
            </a>
            <div class="col-4 pt-3 row">
                <input type="text" class="col-11 form-control" placeholder="Фильмы, сериалы, персоны">
                <a class="col-1 pt-1" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </a>
            </div>
            <div class="col-4 text-right">
                <a class="px-4 nav-link" href="#">
                    <h1 class="" style="font-size: 42px">Вход</h1>
                </a>
            </div>
        </div>
    </nav>
    <div class="container bg-white mb-5">
        <div class="row pt-3">
            <div class="col-3">
                <img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt="">
            </div>
            <div class="col-9">
                <h4>Год: 2010</h4>
                <h4>Жанр: фантастика, боевик, триллер</h4>
                <h4>Категория: фильм</h4>
                <h4>Страна: США</h4>
                <h4>Альт. название: Skyline</h4>
                <h4>Слоган: «Не смотри вверх»</h4>
                <h4>Бюджет: $10 000 000</h4>
                <h4>Режиссер: Колин Штраус, Грег Штраус</h4>
                <h4>Продюсер: Кристиан Джеймс Андресен, Лайам О'Доннелл, Пол Бэрри</h4>
                <h4>Сценарист: Джошуа Кордес, Лайам О'Доннелл</h4>
                <h4>Премьера Мир: 11 ноября 2010</h4>
                <h4>Премьера РФ: 11 ноября 2010</h4>
                <h4>Время: 88 мин.</h4>
            </div>
        </div>
        <!--        <video controls preload="metadata" class="video-player" src="../static/video/clip.mp4"></video> kk3_5AHEZxE 7odYmXqmYl0-->
        <div class="mx-3 my-2 text-center">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Трейлер</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Фильм</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <iframe width="720" height="480" src="https://www.youtube.com/embed/7odYmXqmYl0" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <iframe width="720" height="480" src="https://www.youtube.com/embed/kk3_5AHEZxE" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <h3 class="text-center">Рекомендуем к просмотру:</h3>
        <div class="container row">
            <div class="col-2">
                <a href="/"><img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt=""></a>
                <h5 class="text-center">Скайлайн</h5>
            </div>
            <div class="col-2">
                <a href="/"><img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt=""></a>
                <h5 class="text-center">Скайлайн</h5>
            </div>
            <div class="col-2">
                <a href="/"><img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt=""></a>
                <h5 class="text-center">Скайлайн</h5>
            </div>
            <div class="col-2">
                <a href="/"><img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt=""></a>
                <h5 class="text-center">Скайлайн</h5>
            </div>
            <div class="col-2">
                <a href="/"><img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt=""></a>
                <h5 class="text-center">Скайлайн</h5>
            </div>
            <div class="col-2">
                <a href="/"><img class="img-thumbnail m-2" src="../static/icon/poster_film.jpg" alt=""></a>
                <h5 class="text-center">Скайлайн</h5>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <hr class="featurette-divider">
</div>
<script src="../static/js/jquery-3.3.1.slim.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>