@import "src/variables";

.news__container {
  max-width: 855px;
}

.news__item {
  text-decoration: none;
  position: relative;
  display: flex;
  margin: 5px 5px 15px;
  background: $gray-color-100;
  color: $gray-color-1000;
  padding: 5px;
  border-radius: 5px;
  @media (max-width: 900px) {
    flex-wrap: wrap;
  }

  align-items: center;
  justify-content: center;

  img {
    @media (min-width: 900px) {
      width: 50%;
    }
    @media (max-width: 900px) {
      width: 100%;
    }
    border-radius: 5px;
    object-fit: cover;
    opacity: 0.85;
    margin-left: 5px;
    margin-right: 5px;
  }

  div {
    display: inline-block;
    //min-width: 250px;
    margin: 5px;
  }
}

.news__item:hover {
  background-color: $gray-color-200;
}

.news__item:nth-child(2n) {
  flex-direction: row-reverse;
}
