{% extends "base/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="container-kod-new row">
        <div class="block-movie-info row">
            <div class="block-movie-info-block row">
                <div class="block-movie-poster">
                    <h2 class="title">{{ movie.title }}</h2>
                    <img class="img-movie" src="{{ movie.medium_vertical_image }}" alt="">
                    {% if not request.user.is_anonymous %}
                        <h5 class="score-star-container {% if score %}locked{% endif %}">
                            {% for i in '0123456789'|make_list %}
                                <i class="fa fa-star score-star"
                                   style="color: {% if score and score.value >= forloop.counter %}gold{% else %}black{% endif %}"
                                   aria-hidden="true"></i>
                            {% endfor %}
                        </h5>
                    {% endif %}
                </div>
                <div class="block-movie-info-text">
                    <h3 class="title-smog">
                        {% if movie.title != movie.original_title %}{{ movie.original_title }}{% endif %}</h3>
                    <h5>Год: {{ movie.year }}</h5>
                    <h5>Жанр: {{ movie.genres.all | join:", " }}</h5>
                    <h5>Категория: {{ movie.movie_type }}</h5>
                    {% if movie.countries %}
                        <h4>Страна: {{ movie.countries | join:", " }}</h4>
                    {% endif %}
                    <h5>Слоган: {{ movie.slogan }}</h5>
                    <h5>Бюджет: ${{ movie.budget }}</h5>
                    <h5>Режиссер:
                        {% for director in directors %}
                            <a class="text-color-link" href="{% url "person.person_page" person_id=director.pk %}">
                                {{ director }}</a>,
                        {% empty %}-
                        {% endfor %}
                        <a href="{% url "movies.movie_info" movie.id %}">...</a>
                    </h5>
                    <h5>Продюсер:
                        {% for producer in producers %}
                            <a class="text-color-link" href="{% url "person.person_page" person_id=producer.pk %}">
                                {{ producer }}</a>,
                        {% empty %}-
                        {% endfor %}
                        <a href="{% url "movies.movie_info" movie.id %}">...</a>
                    </h5>
                    <h5>Сценарист:
                        {% for writer in writers %}
                            <a class="text-color-link" href="{% url "person.person_page" person_id=writer.pk %}">
                                {{ writer }}</a>,
                        {% empty %}-
                        {% endfor %}
                        <a href="{% url "movies.movie_info" movie.id %}">...</a>
                    </h5>
                    <h5>Премьера Мир: {% if movie.premiere %}{{ movie.premiere }}{% else %}-{% endif %}</h5>
                    <h5>Премьера РФ: {% if movie.premiere_ru %}{{ movie.premiere_ru }}{% else %}-{% endif %}</h5>
                    <h5>Время: {{ movie.duration }}</h5>
                </div>
            </div>
            <div class="block-movie-statistic">
                <div class="rating">
                    <div class="rating-label {% if movie.average_score > 6.5 %}rating-green{% elif movie.average_score > 2.5 %}rating-orange{% elif movie.average_score != 0 %}rating-red{% else %}rating-grey{% endif %}">
                        {% if movie.average_score %}{{ movie.average_score }}{% else %}-{% endif %}
                    </div>
                    <div class="qty-rating">{{ movie.score_count | intword }}</div>
                </div>
                <div class="container-actors">
                    <div class="container-actors-block">
                        {% for actor in movie.actors %}
                            <div class="actor-block">
                                <div class="row px-3">
                                    <div class="actor-info">
                                        <a class="actor-name"
                                           href="{% url "person.person_page" person_id=actor.person_id %}">{{ actor.person }}</a>
                                        <div class="actor-description text">{{ actor.role_name }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if movie.trailers.exists %}
            <div class="row" style="margin: 0">
                <div class="container-trailer">
                    <div class="container-trailer-block">
                        {% for trailer in movie.trailers.all %}
                            <div class="trailer-block">
                                <iframe width="327" height="184" src="{{ trailer.link }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container-main-trailer">
                    <iframe width="720" height="480" src="{{ movie.trailers.first.link }}" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        {% endif %}
        {% if recommendations %}
            <div><h3 class="text-center">Рекомендуем к просмотру:</h3></div>
            <div class="container row">
                {% for recommendation in recommendations %}
                    <div class="col-2">
                        <a href="{% url 'movies.movie_page' movie_id=recommendation.id %}"><img
                                class="img-thumbnail m-2"
                                src="{{ recommendation.small_vertical_image }}"
                                alt=""></a>
                        <h5 class="text-center">{{ recommendation }}</h5>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block constants %}
    const urlForScore = '{% url "movies.score" movie_id=movie.id %}';
{% endblock %}
