{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="container container-kod">
        <h1 class="text-title text-center">Подборка лучших фильмов, собранная алгоритмами КиноПоиск</h1>
        <div class="container-more">
            <div class="row header-container-more justify-content-between">
                <h3 class="text-title-container-more">TOP 250</h3>
                <a href="#" class="button_more" style="text-decoration: none">Больше фильмов</a></div>
            <div class="row" style="padding-right: 1rem">
                {% for movie in movies %}
                    <div class="col-2">
                        <a href="{% url "movies.movie_page" movie.id %}"><img class="img-border-black m-2" src="{{ movie.small_vertical_image }}"
                                         alt=""></a>
                        <h5 class="text-center">{{ movie }}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#    <div class="container-more">#}
        {#        <div class="row header-container-more justify-content-between">#}
        {#            <h3 class="text-title-container-more">TOP Боевиков</h3>#}
        {#            <a href="#" class="button_more" style="text-decoration: none">Больше фильмов</a>#}
        {#        </div>#}
        {#        <div class="row" style="padding-right: 1rem">#}
        {#            <div class="col-2">#}
        {#                <a href="/"><img class="img-border-black m-2" src="../../static/icon/poster_film.jpg" alt=""></a>#}
        {#                <h5 class="text-center">Скайлайн</h5>#}
        {#            </div>#}
        {#            <div class="col-2">#}
        {#                <a href="/"><img class="img-border-black m-2" src="../../static/icon/poster_film.jpg" alt=""></a>#}
        {#                <h5 class="text-center">Скайлайн</h5>#}
        {#            </div>#}
        {#            <div class="col-2">#}
        {#                <a href="/"><img class="img-border-black m-2" src="../../static/icon/poster_film.jpg" alt=""></a>#}
        {#                <h5 class="text-center">Скайлайн</h5>#}
        {#            </div>#}
        {#            <div class="col-2">#}
        {#                <a href="/"><img class="img-border-black m-2" src="../../static/icon/poster_film.jpg" alt=""></a>#}
        {#                <h5 class="text-center">Скайлайн</h5>#}
        {#            </div>#}
        {#            <div class="col-2">#}
        {#                <a href="/"><img class="img-border-black m-2" src="../../static/icon/poster_film.jpg" alt=""></a>#}
        {#                <h5 class="text-center">Скайлайн</h5>#}
        {#            </div>#}
        {#            <div class="col-2">#}
        {#                <a href="/"><img class="img-border-black m-2" src="../../static/icon/poster_film.jpg" alt=""></a>#}
        {#                <h5 class="text-center">Скайлайн</h5>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
    </div>
{% endblock %}