/*************************** Сброс стилей *****************************/

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/************************* Общие стили ***************************/

body, html {
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
    background: url("../icon/background.png");
    padding-bottom: 15px;
    min-height: 1008px;
}

.container-kod {
    background-color: white;
    margin-bottom: 40px;
    padding: 20px;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

body {
    background: #f5f5f5;
    color: #2d2d2d;
    font-family: 'Arial', 'Helvetica';
    font-size: 16px;
    line-height: 1.5;
}

/**************** Карточки категории фильмов **********************/
.container-more {
    background-color: #505050;
    color: white;
    padding: .5rem;
    border-radius: .75rem;
    margin-bottom: 20px;
}

.header-container-more {
    background-color: #323232;
    padding: 10px 20px 10px 20px;
    margin: 10px 5px;
    border-radius: .5rem;
}

.text-title-container-more {
    color: #ff7200;
    margin-bottom: 0;
    margin-left: 20px;
}

.img-border-black {
    padding: .25rem;
    background-color: #303030;
    border: 1px solid #101010;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.button_more {
    border: 3px solid #000000;
    border-radius: 5px;
    font-size: 25px;
    color: #ff7200;
    text-decoration: none;
    width: 250px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 27px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

.button_more::before,
.button_more::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .5s;
    z-index: -1;
}

.button_more::after {
    opacity: 1;
    transition-delay: .1s;
}

.button_more:hover {
    color: #ff7200;
}

.button_more:hover::before,
.button_more:hover::after {
    left: 0;
}

.pulse {
    background-color: #ff7200;
    border-radius: 50%;
    animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyFrames pulse {
    to {
        transform: scale(2);
        background-color: #000000;
        opacity: 0;
    }
}

.load-more {
    padding: 1rem 2rem;
    border-color: #000000;
    border-radius: 0px;
}

.load-more span {
    display: none;
}

/************************* Шапка *****************************/
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/************************* Карусель ***************************/
.carousel {
    margin-bottom: 3rem;
}

.carousel-caption {
    bottom: 4rem;
    z-index: 1;
}

.carousel-item {
    height: 600px;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

/************************* Левая панель **********************/
.fixed_left_panel {
    position: sticky;
    top: 100px;
}

/******************* Заголовок левой панели ********************/
.text_left_panel {
    font-size: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #ff7200;
}

/********************* Кнопки левой панели *********************/
.button_left_panel {
    border-radius: 5px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 35px;
    display: block;
    text-align: start;
    text-indent: 5px;
    line-height: 35px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

.button_left_panel::before,
.button_left_panel::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #ebebeb;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.button_left_panel::after {
    opacity: 1;
    transition-delay: .1s;
}

.button_left_panel:hover {
    color: #ff7200;
}

.button_left_panel:hover::before,
.button_left_panel:hover::after {
    left: 0;
}

/****************************************/
.wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    height: 50px;
}

.list {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3500px;
    margin-top: 0px;
}

.list li {
    display: table-cell;
    position: relative;
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #efefef;
    vertical-align: middle;
}

.scroller {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 13px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: white;
}

.list-person-info {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.list-person-info-item {
    color: #000000;
    text-decoration: none;
    display: block;
    text-align: start;
    position: relative;
    transition: none;
    overflow: hidden;
    z-index: 1;

}

.list-person-info-item:hover {
    background-color: #eeeeee;
    color: #000000;
}

.list-person-info-item .index {
    text-align: center;
    width: 30px;
}

.text-mute {
    color: #acacac;
}

/*********************Профиль пользователя*******************/

.container-profile {
    background-color: #505050;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 1000px;
    padding: 1rem;
    border-radius: 1.2rem;
    border: 2px solid #404040;
    display: flex;
}

.img-profile {
    width: 300px;
    height: auto;
    margin-right: 15px;
    border-radius: .5rem;
    border: 5px solid #2e2e2e;
}

.img-profile-block {
    background-color: #2e2e2e;
    width: 300px;
    height: auto;
    margin-right: 15px;
    border-radius: .5rem;
    border: 5px solid #2e2e2e;
}

.img-profile-img {
    width: 290px;
    height: auto;
    border-radius: .5rem;
}

.profile-info-container {
    background-color: #404040;
    width: 100%;
    min-height: 100px;
    border-radius: .5rem;
    padding: 20px;
}

.kod-form {
    letter-spacing: 1px;
}

.form__input,
.form__button{
    letter-spacing: 1px;
    font-size: 16px;
}

.form__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form__group {
    position: relative;
    margin-bottom: 32px;
}

.form__label {
    position: absolute;
    top: 0;
    z-index: 0;
    color: #9e9e9e;
    left: 0%;
    transition: 0.3s;
}

.form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    color: white;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form__input:focus {
    border-bottom: 1px solid #ff7200;
}

.form__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #262626;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.form__button:focus,
.form__button:hover {
    color: #ff7200;
    background-color: #000000;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}

.profile-info-container .user-name {
    font-size: 40px;
}

.profile-info-container .address {
    font-size: 20px;
    padding-left: 5px;
    color: #acacac;
}

.profile-info-container .profile-info-date {
    display: flex;
}

.profile-info-date .profile-info-date-block {
    padding-left: 5px;
    padding-right: 20px;
    color: #acacac;
}

.profile-info-date .profile-info-date-block .h5 {
    font-size: 10px;
}

.block-buttons {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    margin-top: 100px;
    max-width: 1000px;
    display: flex;
}

.button-menu {
    background-color: #404040;
    border: 4px solid #000000;
    border-radius: .7rem;
    font-size: 30px;
    color: #ff7200;
    text-decoration: none;
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 43px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    margin: 5px;
    z-index: 1;
}

.button-menu::before,
.button-menu::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .5s;
    z-index: -1;
}

.button-menu::after {
    opacity: 1;
    transition-delay: .1s;
}

.button-menu:hover {
    color: #ff7200;
}

.button-menu:hover::before,
.button-menu:hover::after {
    left: 0;
}

/*********************Параша from Russia*******************/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.movie-search {
    z-index: 99;
}

.autocomplete-items {
    position: absolute;
    background-color: white;
    padding: .5rem;
    border: 1px solid #000000;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    border-top: none;
    z-index: 98;
    /*position the autocomplete items to be the same width as the container:*/
    top: 50px;
    left: 14px;
    right: 63px;
}

.autocomplete-items .result {
    border-radius: 5px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 35px;
    display: block;
    text-align: start;
    text-indent: 5px;
    line-height: 35px;
    position: relative;
    transition: none;
    overflow: hidden;
    z-index: 1;
}

.autocomplete-items .result:hover {
    color: #ff7200;
}

.rating {
    background-color: rgb(80, 80, 80);
    color: white;
    margin-bottom: 10px;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(56, 102, 56);
    border-image: initial;
}

.rating .rating-green {
    background-color: rgb(66, 121, 66);
}

.rating .rating-orange {
    background-color: rgb(256, 121, 66);
}

.rating .rating-red {
    background-color: rgb(256, 0, 66);
}

.rating .rating-label {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 93px;
    margin: 0px 5px;
    border-radius: 2rem;
}

.rating .qty-rating {
    display: inline-block;
    font-size: 50px;
    margin-top: auto;
    color: rgb(136, 136, 136);
}

.container-actors {
    background-color: rgb(80, 80, 80);
    color: white;
    margin-bottom: 20px;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.container-actors .container-actors-block {
    max-height: 400px;
    padding: 0px 10px;
    overflow: auto;
}

.container-actors-block .actor-block {
    background-color: rgb(64, 64, 64);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin: 10px 0px;
}

/* полоса прокрутки (скроллбар) */
.container-actors-block::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    border-radius: 9em;
    background-color: rgb(64, 64, 64);
}

/* ползунок скроллбара */
.container-actors-block::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45);
    border-radius: 9em;
    /*box-shadow: inset 1px 1px 10px #f3faf7;*/
}

.container-actors-block::-webkit-scrollbar-thumb:hover {
    background-color: #1a1a1a;
}

.actor-block .actor-info-photo {
    height: 120px;
    width: 88px;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
}

.actor-block .actor-info {
    padding-left: 5px;
}

.actor-block .actor-name {
    color: white;
}

.actor-block .actor-description {
    font-size: 13px;
}

.img-max-width-500 {
    max-width: 480px;
    max-height: 480px;
}

.text-black {
    color: black;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #c9c9c9 !important;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.overlay, .form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

.form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(0, -25%) scale(0);
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-toggle:before, .form-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-toggle:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.form-toggle:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form-toggle.visible {
    -webkit-transform: translate(0, -25%) scale(1);
    transform: translate(0, -25%) scale(1);
    opacity: 1;
}

.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}

.form-group button {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

.form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}

.form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}

.form-panel.two:before, .form-panel.two:after {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    left: 1.5%;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.form-panel.two:after {
    left: 3%;
}

.form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-panel.two:hover:before, .form-panel.two:hover:after {
    opacity: 0;
}

.form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.form-panel.two.active:before, .form-panel.two.active:after {
    opacity: 0;
}

.form-header {
    margin: 0 0 40px;
}

.form-header h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
}

.pen-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
}

.pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
}

.cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
}
