@import "src/variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  color: $gray-color-1000;
  padding: 0px 15px 15px 15px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

body {
  background-color: $background-color;
  width: 100%;
}