$primary-color-500: #ff9800;
$secondary-color-500: #2196f3;

$gray-color-100: hsl(0, 0, 10);
$gray-color-200: hsl(0, 0, 15);
$gray-color-300: hsl(0, 0, 20);
$gray-color-400: hsl(0, 0, 25);
$gray-color-500: hsl(0, 0, 30);
$gray-color-600: hsl(0, 0, 35);
$gray-color-1000: hsl(0, 0, 70);

$background-color: hsl(0, 0, 5);
$header-background-color: hsl(0, 0, 8);
$header-color: hsl(0, 0, 90);
